h1 {

    color: #f00; /* troca a cor do texto*/
    font-size: 64px; /* troca o tamanho do texto*/
    font-weight: bold; /* e o peso da fonte ( grosura da fonte)*/
    font-family: 'Roboto', sans-serif; /* Tipo de fonte do texto */
    font-style: italic;
    text-shadow: 10px 10px 10px #f00; /* sombra*/

}

p {

    color: rgb(rgb(15, 28, 102), green, blue);
    font-size: 30px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-style: oblique; /*  estilo da linha (negrito italico e outros) */
    line-height: 50px; /* almenta o espaço entre as linhas */
    letter-spacing: 10px; /* espaço entre as letras*/
    word-spacing: 40px; /* espaço entre as palavras*/
    text-align: center; /* alinhamento do texto*/
    text-transform: capitalize; /* maiusculo , minusculo, so a primeira maiuscula entre outras*/
    text-decoration: underline; /* coloca anderline emcima ou em baixo entre outros*/
}